*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color:aliceblue;
    color: blue;
    margin: 0;
    padding: 0;

}
